#local-header-iframe-div {
    position: absolute;
    z-index:100;
    top:-123px;
    height:120px;
}

#local-header-iframe-div iframe {
    height: 120px;
}

#local-header-iframe-div.overlay-everything iframe {
    height:375px;
}

.everything-but-header {
    margin-top: 123px;
}

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; 
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:5px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
	width: 300px;
	float:left;
}
.column tr td { padding: 10px 7px; } /*this is normally 15 */
.column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:600px!important;
}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }

/* ------------------------------------- 
		Global Widget classes
------------------------------------- */


span.date {
	font-size:11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left:10px;
}


/* ------------------------------------- 
		Section Topper
------------------------------------- */

table.topper {
	margin:0;
	padding:0;
	border:0;
	border:1px solid red;
	height:23px;
}

table.topper tr td {
	background-color:#fff;
	line-height: 23px;
	height:23px;
	margin:0;
	padding:0;
	vertical-align: baseline;
}

table.topper tr td span {
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color:#cf8522;
	margin:0;
	padding:0;	
}



/* ------------------------------------- 
		Main Art Widget
------------------------------------- */

h1.mainArt {
	font-size:23px;
	color:#215786;
	line-height:23px;
	font-weight:bold;
	margin:-4px 0 5px 0;
	width:100%;
}


p.mainArt {
	font-size:15px;
	margin:5px 0px;	
	color:#333;
	line-height:16px;
}


p.readmore {
	vertical-align:text-top;
	margin:5px 10px;
	line-height:20px;
	height:25px;
}




/* ------------------------------------- 
		Blog Widget
------------------------------------- */

table.blog span.author {
	display:block;
	text-transform: uppercase;
	color:#ac0e0e;
	font-size:11px;
	line-height:11px;
	letter-spacing: 2px;
	width:100%;
	margin-bottom:2px;
}


table.blog a.title {
	display:block;
	color:#215786;
	font-size:16px;
	font-weight: bold;
}



/* ------------------------------------- 
		Headlines
------------------------------------- */
table.headlines {
	width:100%;
	font-family: Helvetica, Arial, sans-serif;
}

table.headlines tr td {
	border-bottom:1px solid #cf8522; 
	padding:8px 8px 10px 8px;
	font-weight:bold;
}

table.headlines tr td a{
	font-weight: bold;
}

/* ------------------------------------- 
		Right Rail 
------------------------------------- */
table.social, table.ad, table.promo {
margin:0;
padding:0;
}


div.widgetContainer {
	margin:10px 0;
	font-family: Helvetica, Arial, sans-serif;
}

div.widgetContainerMA {
	margin:5px 0 5px 0;
	
}
