{% extends "base.html" %}
{% block content %}

<table class="body-wrap" align="center" style="width: 640px; margin:0 auto; padding:0; background-color: #fff; font-family:Arial, Helvetica, sans-serif; cellpadding="0" cellspacing="0">
    <tr valign="top">
        <td>
            <table cellpadding="0" cellspacing="0" style="margin:0 10px 0 10px; padding:0; width:290px;">
                <tr>
                    <td style="padding:0; margin:0;"><br/>
                        <div class="date" style="font-size:11px; text-transform: uppercase; letter-spacing: 2px; margin:0 0 10px 0; margin-left:5px; font-family:Arial, Helvetica, sans-serif;"><?= App::loadDate();?></div>
                        <div class="widgetContainer">
                            <?=Format::formatTopper('azcentral forecast')?>

                            <table width="280" style="font-family:Arial, Helvetica, sans-serif;">
                            <tr>
                            <td>
                            <img src="http://nocache.azcentral.com/imgs/staff-bios/staff-bio-<?=$w->image;?>.jpg" align="left" style="margin:0 7px 7px 0; width:85px; height:85px;" width="85" height="85"/>
                            <p style="margin:0 0 0 8px; font-size:15px;"><?=$w->forecast?></p>
                            </td>
                            </tr>

                            <?$w->getCurrent();
                            $i = 0;
                            ?>
                            <tr>
                            <?
                            echo '<td style="text-align:center; margin:0; padding:0;"><strong>'.$w->header[$i].'</strong></td>';
                            ?>
                            </tr>
                            <tr>
                            <?
                            echo '<td style="text-align:center; margin:0; padding:0;">'.$w->img[$i].'</td>';
                            ?>
                            </tr>
                            <tr>
                            <? 
                            echo '<td style="text-align:center; margin:0; padding:0 0 20px;">'.$w->high[$i].'/ <span style="color:#7088b4;">'.$w->low[$i].'</span></td>';
                            ?>
                            </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table cellpadding="0" cellspacing="0" style="margin:0 0 0 10px; padding:0; width:300px; font-family:Arial, Helvetica, sans-serif;">
                <tr>
                    <td style="padding:10px 0">
                        <div id="div-gpt-ad-300x250_1">
                            <script type='text/javascript'>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-300x250_1'); });
                            </script>
                        </div>
                        <? if(self::$config->mode != 'development'){                 
                                echo App::loadSocial(); 
                                echo App::loadAd();
                                echo App::loadPromo();
                        } ?>
                    </td>
                </tr>
            </table>                    
        </td>
    </tr>   
</table>

{% endblock %}
